<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <display-name>movieproject</display-name>
  
  <!-- Container의 서블릿 목록에 등록 -->
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<servlet-class>com.exampleweb.servlet.HelloServlet</servlet-class>
  </servlet>
  
  <!-- 서블릿과 요청 매핑 (어떤 요청이 발생했을 때 어떤 서블릿을 호출해야 하는지 연결) -->
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/hello2.action</url-pattern>
  </servlet-mapping>
  
</web-app>